# Supabase Configuration Example
VITE_SUPABASE_URL=https://zofddiuswdtbqvqycezy.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_3Tq3aFWatBH3kBSTbcULtg_Ip2pzPGj
VITE_SUPABASE_PUBLISHABLE_KEY=sb_publishable_3Tq3aFWatBH3kBSTbcULtg_Ip2pzPGj
